<body>

<h1><strong>Past Projects</strong></h1>
<table align="center">
  <tr>

    <td>Dern Kin :</td>
    <td><img src="https://imgur.com/KlTWoqF.jpg" alt=""></td>

    <td>Panja Dava:</td>
    <td><img src="https://imgur.com/qW6XSry.jpg" alt=""></td>

  </tr>
  <tr>

    <td>Pictorial:</td>
    <td><img src="https://imgur.com/Ja5fN7u.png" alt=""></td>

    <td>Doggy:</td>
    <td><img src="https://imgur.com/qFHEwel.jpg" alt=""></td>

  </tr>

</table>
<br><br><br><br><br><br><br><br><br><br>

</body>